* {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

body,
html {
	width: 100%;
	height: 100%;
}


body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

header {
	box-shadow: 0 0 10px #353535;
	position: relative;
	display: flex;
	z-index: 500;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 100px;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 20px 0 20px;
	box-sizing: border-box;
	border-radius: 0 0 10px 10px;
}

.logo { 
	height: 50px;
}

.child-container {
	display: flex;
	padding: 25px;
	width: 100%;
	box-sizing: border-box;
}

.start-notification.hide {
	display: none;
}

.start-notification {
	z-index: 1200;
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.start-notification img {
	display: flex;
	width: 55%;
	height: auto;
	border-radius: 30px;
	box-shadow: #494949 0 0 10px;
	cursor: pointer;
	background-color: white;
	padding: 20px;
}


@keyframes bounce {
	0% {
			transform: translateY(0);
	}
	25% {
		transform: translateY(0);
	}
	50% {
			transform: translateY(-2px);
	}
	75% {
		transform: translateY(0);
  }
	100% {
			transform: translateY(0);
	}
}


.menu-button {
	cursor: pointer;
	display: flex;
	position: relative;
	height: 25px;
}

.menu {
	display: flex;
	position: fixed;
	min-width: 300px ;
	height: 100%;
	background-color: #ffffff;
	right: 0;
	box-shadow: 0 0 10px #353535;
	
	top: 0;
	
	z-index: 1050;
	transition: .4s ease-in-out;
	transform: translateX(100%);
	align-items: center;
	box-sizing: border-box;
	padding: 25px;
	flex-direction: column;
	gap: 15px;
}


.substrate-menu {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1040;
	background-color: #000000;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}

.substrate-menu.show {
	display: flex;
	opacity: 0.5;
}


.menu.show {
	transform: translateX(0%);
	transition: .4s ease-in-out;
}


.search {
  display: flex;
  padding: 10px;
  border-radius: 30px;
  background-color: #ffffff;
  align-items: center;
	z-index: 1011;
	border: 1px solid #dddddd;
  gap: 10px;
	width: 100%;
	transition: .4s ease-in-out;
}





.search {
	overflow: hidden;
}

input[type="text"]:focus::placeholder {

	color: transparent;
}

.search input {
	position: relative;
	width: 100%;
  border: none;
	padding: 5px;
	box-sizing: border-box;
  outline: none;
  font-size: 12px;
	text-align: center;
	overflow: hidden;
}

#search-input {
	font-size: 15px;
}

.search-icon {
	display: flex;
	position: absolute;
	width: auto;
	height: 40px;
	right: 5px;
	pointer-events: none;
	transition: 0.4s ease-out;
}

.search:hover > .search-icon {
	rotate: 20deg;
	transition: 0.4s ease-out;
	
}
.search-box {
	display: none;
	position: absolute;
	top: 50%;
	
	z-index: 1010;
	width: 100%;
	border-radius: 0px 0px 15px 15px;
	box-sizing: border-box;
	border: 1px #ddd solid;
	background-color: #ffffff;
	opacity: 0;
	transition: opacity 0.4s ease-in-out, visibility 0s linear 0.4s;
}

.search-box.show {
	display: flex;
	flex-direction: column;
	gap: 15px;
	opacity: 1;
	padding: 35px 10px 10px 10px ;
	transition-delay: 0s;
}

.search-box ul {
  list-style-type: none;
}

.meta-search {
	position: absolute;
	transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
	width: 40%;
	
	top: 50%;
	transition: .4s ease-in-out;
  left: 50%;
}



.search-row{
  text-decoration: none;
	color: #000000;
  display: flex;
	flex-direction: row;
	align-items: center;
	height: 70px;
	gap: 15px;
	border-radius: 15px;
	padding: 10px ;
	box-sizing: border-box;

	
	transition: 0.4s ease-in-out;
	
}

.search-row:hover {
	background-color: #f2f2f2;
	transition: 0.4s ease-in-out;

	
}

.search-row-image {
	width: auto;
	display: flex;
	height: 100%;
  border-radius: 5px;
}

.search-box {
	max-height: 600px;
}

.search-row-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	
}

.search-row-title {
	font-weight: 900;
}

.search-row-author {
  font-size: 14px;
	color: #6d59df;
	font-weight: 500;
}

.show-more-results {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	border-radius: 30px;
	border: #ddd 1px solid;
	text-decoration: none;
	color: #6d59df;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 900;
	transition: 0.4s ease-in-out;

}

.show-more-results:hover {
	background-color: #6d59df;
  color: white;
	transition: 0.4s ease-in-out;
}

.block-account {
	text-decoration: none;
	color: #000000;
	display: flex;
	width: 100%;
	height: 50px;
	flex-direction: row;
	overflow: hidden;
	gap: 10px;
	border-radius: 15px;
	padding: 15px;
	background-color: #ffffff;
	border: 2px solid #ddd;
	box-sizing: border-box;
	position: relative;
  transition: 0.4s ease-in-out;

}

.block-account:hover {
	background-color: #f0f0f0;;
  transition: 0.4s ease-in-out;
}

.block-account img {
	position: absolute;
	aspect-ratio: 1/1;
	left: 0;
	width: 70px;
	top: 0;
}

.block-account .username {
	display: flex;
	font-weight: 600;
  font-size: 18px;
	justify-content: center;
	align-items: center;
  color: #000000;
	
	width: 100%;
	height: 100%;
	
}

.block-buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: 100%;



}

.block-button {
	border-radius: 15px;
	border: 2px solid #ddd;
	background-color: #fff;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	text-align: center;
	aspect-ratio: 1/1;
	transition: 0.4s ease-in-out;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	color: #000;
}

.block-button img {
	display: flex;
	height: 50px;
}

.block-button p {
	width: 100%;
	font-size: 14px;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #000;
}

.block-button:hover {
	background-color: #ddd;
	transition: 0.4s ease-in-out;
}


.block-pay {
	border: 2px solid #ddd;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 15px;
	position: relative;
	box-sizing: border-box;
	border-radius: 15px;
	overflow: hidden;
  transition: 0.4s ease-in-out;
	text-decoration: none;
	color: #000;

}

.block-pay img {
	position: absolute;
	right: -10px;
	width: 70px;
	top: 50%;
	transform: translateY(-50%);
	transform-origin: center center;
	transition: .4s ease-in-out;

}
.block-pay .balance {
	font-weight: 500;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
}

.block-pay:hover img {
	transition: .4s ease-in-out;
	transform: rotate(20deg)  translateY(-50%);
	
}

.block-pay:hover {
	background-color: #f0f0f0;
  transition: 0.4s ease-in-out;
}

.block-for-what {
	display: flex;
  width: 100%;
	box-sizing: border-box;
	border-radius: 15px;
	padding: 15px;
	background-color: #ff8080;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	justify-content: flex-end;
	transition: .4s ease-in-out;

}

.block-for-what:hover {
	transition: .4s ease-in-out;
	background-color: #e25555;
}

.block-for-what img {
	position: absolute;
	left: 10px;
	width: 70px;
	top: 5px;
	

}

@font-face {
  font-family: "Boozy"; 
  src: url("Boozy.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

.block-for-what .text {
	justify-content: center;
	align-items: center;
	width: 70%;
	font-size: 20px;
	font-family: 'Boozy';
	color: #000;
	font-weight: 700;
}

.block-exit {
	display: flex;
	position: absolute;
	bottom: 25px;
	justify-content: center;
	align-items: center;
	padding: 15px;
	box-sizing: border-box;
	font-weight: 900;
	text-transform: uppercase;
	width: 83%;
	background-color: #ff8080;
	color: white;
	text-decoration: none;
	border-radius: 30px;
	transition: .3s ease-in-out;

}

.block-exit:hover {
	background-color: #e25555;
	transition: .3s ease-in-out;
}