.child-container {
  justify-content: center;
  padding-bottom: 100px;
  gap: 20px;
}

.cart-container {
  flex-direction: column;
  display: flex;
  gap: 15px;
  
  width: 50%;
  background-color: #ddd;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 30px;
}
.cart-item-description {
  display: flex;  
  flex-direction: column;
  width: 100%;
}

.calc {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-weight: 700;
  position: absolute;
  bottom: 80px;
    
}


.address.lock {
  text-transform: none;
}

.cart-item-settings {
  display: flex;
  position: absolute;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 15px;
  
}

.left-con {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 80%;
}

.cart-item {
  border :2px solid transparent;
  display: flex;
  background-color: #fff;
  align-items: center;
  z-index: 49;
  gap: 10px;
  position: relative;
  padding: 15px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  transition: .4s ease-in-out;

  box-sizing: border-box;
  cursor: pointer;
}

.cart-item-cover {
  height: 80px;
  border-radius: 10px;
  display: flex;
}



.cart-item-title {
  width: 100%;
  max-height: 60px;
  font-size: 15px;
  text-overflow: ellipsis;
  word-break: break-all;
} 

.right-cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
}

.orders  {
  display: flex;
  display: flex;
  background-color: #ddd;
  border-radius: 30px;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 30px;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  gap: 10px;
  
}

.order-container {
  display: flex;
  background-color: #ddd;
  border-radius: 30px;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 30px;
  
  flex-direction: column;
  box-sizing: border-box;
  height: 45vh;
  gap: 20px;


}



.order-container h2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.order-container p {
  display: flex;
  width: 100%;
}

.cart-item.selected {
  background-color: #ccc;
}

.cart-item-buttons.selected2 {
  background-color: #ccc;
  transition: .4s ease-in-out;
}



.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  z-index: 700;
  height: 70px;
  box-sizing:border-box;
  width: 100%;
  padding: 20px;

  background-color: #fff;
  box-shadow: 0 0 10px #353535;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  transform: translateY(100%);
  transition: .5s ease-in-out;

}

.footer.show {
  transition: .5s ease-in-out;
  transform: translateY(0%);
}



.selected-counter , .selected-sum {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: 'Roboto';
  width: 100%;
  gap: 5px;

}



.footer #animated-text2 { 

}

.footer hr {
  display: flex;
  height: 100%;
}



input {
  outline: none;
  border: 2px #ccc solid;
  box-sizing: border-box;
  border-radius: 10px;
}

.flat {
  display: flex;
  padding: 5px;
  width: 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

/* Для Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


input[name="search-address"] {
  display: flex;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.inputs-address {
  display: flex;
  width: 100%;
  height: 40px;
  gap: 5px;
  flex-direction: row;
}

.cart-item:hover {
  background-color: #ddd;
  border :2px solid #ccc;
  transition: .4s ease-in-out;
}

.suggestion {
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: 70px;
  max-height: 150px;
  padding: 5px;
  box-sizing: border-box;
  transition: .5s ease-in-out;
  cursor: pointer;
  word-break: break-all;
  align-items: center;
  

}

#place-order {
  background-color: #5762EE;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  width: 80%;
  cursor: pointer;
  transition: .3s ease-in-out;
  position: absolute;
  bottom: 30px;
}

#place-order:hover {
  transition: .3s ease-in-out;
  background-color: #4a53cc;

}

.suggestion:hover {
  background-color: #5762EE;
  color: #fff;
  transition: .4s ease-in-out;
}

.search-address-box {
  position: absolute;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 5px;
  
  
  width: 100%;
  word-break: break-all;
  left: 0;
  display: none;
  background-color: #fff;
  flex-direction: column;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
  z-index: 500;
  top: 30%
  
}

.locker {
  border: 2px solid;
  border-radius: 15px; 
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: .4s ease-in-out;
  height: 40px;
  cursor: pointer;
}

.locker:hover {
  background-color: #ccc;
  transition: .4s ease-in-out;
  border: #ccc solid 2px;
}

.locker p {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.locker.inactive {
  pointer-events: none;
  background-color: #ddd;
  border: 2px solid #ccc !important;
}

.locker img {
  display: flex;
  position: absolute;
  width: auto;
  height: 20px;
  right:  10px;
}


.search-address-box.show {
  display: flex;
}

.address-container {
  gap: 5px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.address {
  display: flex;
  align-items: center;
  gap: 5px;
  height: auto;
  max-height: 150px;
  background-color: #fff;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  cursor: default;
  justify-content: center;
  text-align: center;
  text-transform: lowercase;
  overflow-x: auto;
  border: 2px #ccc solid;
  
  border-radius: 10px;
  box-sizing: border-box;
  color: #a0a0a0;
  pointer-events: visible;
  padding: 5px;
  transition: .4s ease-in-out;

}
.address:hover {
  
  transition: .4s ease-in-out;
}

.suggestion.inactive {
  pointer-events: none;
  transition: .4s ease-in-out;
  background-color: #ddd;
}


#place-order.inactive {
  pointer-events: none;
  background-color: #8b8b8b;
  color: #000;
  transition: .4s ease-in-out;
}


input {
  transition: .4s ease-in-out;
  opacity: 1;
}
input:focus::placeholder {
  opacity: 0;
  transition: .4s ease-in-out;
}


/* Стилизация всей полосы прокрутки */
::-webkit-scrollbar {
  width: 0;
}

/* Фон полосы прокрутки */
::-webkit-scrollbar-track {
  background-color: none;
}

/* Ползунок скролла */
::-webkit-scrollbar-thumb {
  max-height: 20px;
  background: #5762EE; /* Цвет ползунка */
  border-radius: 10px; /* Закругление углов */
}

/* Ползунок при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 20px;
}

.cart-item-buttons { 
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  width: 20%;
  aspect-ratio: 1/1;
  flex-direction: column;
  transition: .4s ease-in-out;
  z-index: 50;
  padding: 10px;
  align-items: center;
  
  gap: 5px;
  box-sizing: border-box;
}

.arrows {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.right-arrow,.left-arrow {
  display: flex;
  width: 50%;
}

.trash {
  width: 50%;
  height: 50%;
}

.item {
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cart-item-buttons img {
  cursor:  pointer;
}


.order {
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: #fff;
  box-sizing: border-box;
  gap: 10px;
  border: solid 2px #ccc;
  border-radius: 15px;
}

.order h3 {
  border-radius: 10px;
  background-color: #5762EE;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: auto;
  color: #fff;
  
}

.orders-list {
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  gap: 5px;
}

.order ul li {
  display: flex;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
}

.order ul li span {
  display: flex;
  padding: 5px;
  
  justify-content: center;
  align-items: center;

}

.order ul {
  gap: 5px;
  display: flex;
  flex-direction: column;
  list-style-type: none;

}

.itogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
}

.itogo span {
  background-color: #FC625D;
}

.itogo p {
background-color: #14BBAB;
}

.itogo * {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;

}